* {
    box-sizing: border-box;
}

h1, h2, p{
    margin: 0
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* header */
header{
    width: 100%;
    background: url('./images/header-bg.png'), rgba(13, 24, 46, 1);
    height: 20vh;
    background-position: right center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: start;
    gap: 1em;
}

.icon-img{
    width: 30%;
    max-width: 180px;
}

.app-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-title{
    font-size: 2.5rem;
    color: #32CD32;
}

.app-tagline{
    font-size: 0.95rem;
}

/* main */
.chat-outer-container {
    margin-top: 2em;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 75vh;
}

/* Chat box */
.chat-inner-container{
    margin-top: 1em;
    margin-right: 0.9em;
    padding: 1em 0.2em 0em 1em;
    display: flex;
    flex-direction: column-reverse;
    height: 53vh;
    overflow: auto;
}

.chat-box{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.5em 0.7em 1em;
    margin-bottom: 1em;
}


.ai-chat{
    background-color: #035A9D;
    border-bottom-left-radius: 0px;
}

.user-chat{
    background-color: #65DA65;
    border-top-right-radius: 0px;
}

/* Input container */
.input-container{
    margin: 1em 1em 0em;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    height: 80px;
    
}

textarea{
    height: 100%;
    font-size: 1rem;
    font-family: inher;
    border: none;
    padding: 0.3em 0 0 0.3em;
    outline: none;
    flex: 1 0 80%;
    resize: none;
    border-radius: 10px;
}

.send-btn{
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 10px;
    width: 15%;
    max-width: 50px;

    &:hover{
        background-color: #29599c;
    }

    &:active{
        background-color: gray;
    }
}


.green-paper-plane{
    color: #65DA65;
    padding: none;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 4px; 
}
    
    
::-webkit-scrollbar-thumb:hover {
  background: #2d3748; 
}


/* Flag */
.flag-container {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.flag-btn{
    width: 20%;
    max-width: 90px;
    padding: 0;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    align-items: center;
    border: 3px solid black;
}

.default-lang {
    border: 3px solid green;
    box-shadow: 2px 2px 0 gray;
}

.flag-btn > img {
    width: 100%;
    max-width: 90px;
}

